h1 {
    margin-top: 0;
}

.post-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 450px;
}

.post-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.post-list .date {
    color: #777;
    font-size: 12px;
    margin-right: 10px;
}