{{ define "main" }}
<div class="post">
    <h1>Home</h1>
    <p>Hi! Welcome to Kalefetch, my personal website containing my blog and all of my projects. Feel free to take a look around.</p>
    <p>On the left, (or the top, if you're on mobile), you can look at my <a href="/blog">blog</a>, <a href="/projects">my projects</a>, or even <a href="/surf">surf other websites</a> I found interesting.</p>
    <p>At the links, you can check out my socials.</p>

    <h2>About me</h2>
    <p>
        I love tech. I started getting into Python when I was about 8 years old,
        mostly messing around and building random things. The reason I made this site is to
        document things I'm building now, and maybe write about other stuff I'm into.
    </p>
    <p>
        ... I also like breakcore, anime... and <i>Mr. Robot.</i> :)
    </p>
</div>

{{ end }}